<!-- the body of our page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <div class="feed">
        <div class="well">
          <h4>Aggregate your feeds with Agger.</h4>
        </div>
        <!-- feed posts -->
        <div class="row">
          <div class="col-lg-12">
            <div class="post">
              <h4><a href="#">Link Title Here</a><small> (url.com/goes/here)</small></h4>
              <p><small>Posted 5 hours ago on <a href="#">Facebook</a></small></p>
            </div>
            <div class="post">
              <h4><a href="#">Longer Link Title Here</a><small> (url.com/goes/here)</small></h4>
              <p><small>Posted 5 hours ago on <a href="#">Twitter</a></small></p>
            </div>
            <div class="post">
              <h4><a href="#">Much Longer Link Title Here</a><small> (url.com/goes/here)</small></h4>
              <p><small>Posted 5 hours ago on <a href="#">Pinterest</a></small></p>
            </div>
            <div class="post">
              <h4><a href="#">Link Title Here and Stuff</a><small> (url.com/goes/here)</small></h4>
              <p><small>Posted 5 hours ago on <a href="#">Linkedin</a></small></p>
            </div>
            <div class="post">
              <h4><a href="#">A Really Long Link Title Here</a><small> (url.com/goes/here)</small></h4>
              <p><small>Posted 5 hours ago on <a href="#">Facebook</a></small></p>
            </div>
            <div class="post">
              <h4><a href="#">Yet Another Link Title Here</a><small> (url.com/goes/here)</small></h4>
              <p><small>Posted 5 hours ago on <a href="#">Twitter</a></small></p>
            </div>
            <div class="post">
              <h4><a href="#">The Second Longest Link Title Here</a><small> (url.com/goes/here)</small></h4>
              <p><small>Posted 5 hours ago on <a href="#">Pinterest</a></small></p>
            </div>
            <div class="post">
              <h4><a href="#">Link Title Here</a><small> (url.com/goes/here)</small></h4>
              <p><small>Posted 5 hours ago on <a href="#">Linkedin</a></small></p>
            </div>
          </div>
        </div>
        <!-- pagination -->
        <div class="row">
          <div class="col-lg-6 col-xs-6">
            <div class="feed-pages">
              <small>Page 1 of 21</small>
            </div>
          </div>
          <div class="col-lg-6 col-xs-6">
            <div class="feed-nav pull-right">
              <button class="btn btn-primary">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 col-lg-offset-1">
      <h4>Channels</h4>
      <div class="checkbox">
        <label for="">
          <input type="checkbox" checked> Facebook
        </label>
      </div>
      <div class="checkbox">
        <label for="">
          <input type="checkbox" checked> Twitter
        </label>
      </div>
      <div class="checkbox">
        <label for="">
          <input type="checkbox" checked> Pinterest
        </label>
      </div>
      <div class="checkbox">
        <label for="">
          <input type="checkbox" checked> Linkedin
        </label>
      </div>
      <div class="checkbox">
        <label for="">
          <input type="checkbox" checked> Google+
        </label>
      </div>
      <hr>
      <h4>Filters</h4>
      <div class="checkbox">
        <label for="">
          <input type="checkbox" checked> Comments
        </label>
      </div>
      <div class="checkbox">
        <label for="">
          <input type="checkbox"> Recent Comments
        </label>
      </div>
      <div class="checkbox">
        <label for="">
          <input type="checkbox"> Top Posts
        </label>
      </div>
      <div class="checkbox">
        <label for="">
          <input type="checkbox"> Recent Posts
        </label>
      </div>
      <hr>
      <p><a href="#">RSS Feed</a></p>
    </div>
  </div>
</div>
<%- partial("partial/_about-modal") %>
<%- partial("partial/_contact-modal") %>
<%- partial("partial/_login-modal") %>
